.category-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 600px;
  border: 1px solid green;
  height: 50px;
  align-items: center;
  text-align: center;
  margin: 10px 10px;
}