.players-header {
  text-align: center;
  margin-top: 20px;
}

.category-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 800px;
  height: 50px;
  align-items: center;
  text-align: center;
  margin: 10px auto;
}